body{
    background-color: antiquewhite;
}
*{
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    margin-top: 5px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.5rem;
    margin-left: 5px;
}
.container{
   min-height: 65vh;
   background-color: black;
   color: white;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius:8px ;
   background-image: url(spotifcover.webp);
   background-size: cover;
}
.songlist h1{
    margin-left: 5px;
}
.bottom{
    position: sticky;
    background-color:rgb(66, 63, 63);
    height: 100px;
    color: white;
    margin-bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.icons{
    color: white;
    margin-top: 25px;
    font-size: 1.58rem;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 85%;
    cursor: pointer;
}
.songitem{
    height: 50px;
    width: 350px;
    display: flex;
    background-color: white;
    color: black;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 5px;
    border-radius: 30px;
}
.songitem img{
 width: 43px;
margin-left: 25px; 
 border-radius: 30px;  
}
.timestamp{
    margin-right: 5px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 95px;
}
.songinfo img {
    opacity: 0;
    transition: 0.4s ease-in;
}
